{{- /* theme-toggle is enabled */}}
{{- if (not .Site.Params.disableThemeToggle) }}
{{- /* theme is light */}}
{{- if (eq .Site.Params.defaultTheme "light") }}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    }

</script>
{{- /* theme is dark */}}
{{- else if (eq .Site.Params.defaultTheme "dark") }}
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    }

</script>
{{- else }}
{{- /* theme is auto */}}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}
{{- /* theme-toggle is disabled and theme is auto */}}
{{- else if (and (ne .Site.Params.defaultTheme "light") (ne .Site.Params.defaultTheme "dark"))}}
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}

<header class="header">
    <nav class="nav">
        <div class="logo">
            {{- $label_text := (.Site.Params.label.text | default .Site.Title) }}
            {{- if .Site.Title }}
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ .Site.Title }} (Alt + H)">
                <svg xmlns="http://www.w3.org/2000/svg" width="55px" height="55px" viewBox="0 0 202.02 202.02" style="vertical-align:middle">
                    <g transform="translate(-3.65 -3.93)">
                      <circle style="opacity:1;fill:none;fill-opacity:1;stroke:currentColor;stroke-width:16;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" cx="104.66" cy="104.94" r="93.01"/>
                    </g>
                    <g style="display:inline;fill:currentColor;fill-opacity:1;stroke:none">
                        <path d="m242.73 334.58 28.99-2.5-.77 48q-.19 4.8.2 8.45.38 3.26 1.15 5.76.76 2.5 2.5 2.5 1.53 0 2.49-1.93 1.15-2.1 1.73-4.6.76-2.88.96-6.72h8.25q.58 2.68.58 5.95 0 2.69-.58 6.53-.57 3.84-2.5 8.25-1.53 4.61-3.83 7.68-2.12 3.07-4.8 5-2.5 1.91-5.19 2.87-2.69.96-5.18 1.54-2.69.38-6.91-1.34-4.04-1.73-8.07-4.04-4.8-2.68-9.98-6.14-4.42 2.88-7.87 5.18-3.08 2.12-6.15 4.04-2.88 1.92-4.03 2.3-.96.38-4.42 1.34-3.45.96-8.44.77-5 0-11.14-2.3-6.14-2.11-12.29-8.07-6.33-6.14-9.02-13.24-2.69-7.3-3.65-13.44-.96-7.3 0-14.4.38-8.26 2.69-15.94 2.11-6.53 6.33-13.44 4.42-6.91 12.48-11.33 8.07-4.41 15.94-3.84 8.06.39 14.4 2.5 7.49 2.5 14.4 7.3zm-19.01 12.28q-5.57 0-9.4 6.15-3.85 6.14-3.85 18.24 0 12.48 3.84 19.2 3.84 6.72 9.41 6.72t9.8-6.72q4.22-6.72 4.22-19.2 0-12.1-4.23-18.24-4.22-6.15-9.79-6.15z" style="font-size:192px" transform="translate(-82.94 -145.69) scale(.6706)" aria-label="a"/>
                        <path d="M217.2 420.6h-42.63v-16.14q3.84.2 6.72-.57 2.5-.77 4.41-2.69 2.12-2.11 1.73-6.34v-19.39q.2-6.91.2-14.78.19-8.07.19-16.13.19-18.82.38-41.28l29-12.1v74.12q2.87.19 5.75-.2 2.5-.38 5-.96 2.49-.57 4.41-2.1 3.07-3.08 1.92-6.34-1.15-3.46-8.26-3.46l.77-11.14 43.2-.96q1.73 10.37.77 18.82-.38 3.65-1.54 7.1-.96 3.46-2.88 6.34t-4.99 4.8q-3.07 1.92-7.3 2.3l29 40.13-38.6.96-19.39-23.23q-2.3-1.54-4.03-1.92-1.53-.38-2.69.38-1.15.77-1.15 3.84z" style="font-size:192px" transform="translate(-21.52 -145.16) scale(.6706)" aria-label="k"/>
                    </g>
                </svg>
            </a>
            {{- end }}
        </div>
        {{- $currentPage := . }}
        <ul id="menu">
            {{- range .Site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $is_search := eq ($.Site.GetPage .KeyName).Layout `search` }}
            <li>
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                    <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                </a>
            </li>
            {{- end }}
            <span class="logo-switches"> &nbsp;|
                {{- if (not .Site.Params.disableThemeToggle) }}
                <button id="theme-toggle" accesskey="t" title="(Alt + T)">
                    <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                    </svg>
                    <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                </button>
                {{- end }}

                {{- $lang := .Lang}}
                {{- $separator := or $label_text (not .Site.Params.disableThemeToggle)}}
                {{- with $.Site.Home.AllTranslations }}
                <ul class="lang-switch">
                    {{- if $separator }}<li>|</li>{{ end }}
                    {{- range . -}}
                    {{- if ne $lang .Lang }}
                    <li>
                        <a href="{{- .Permalink -}}" title="{{ .Language.Params.languageAltTitle | default (.Language.LanguageName | emojify) | default (.Lang | title) }}"
                            aria-label="{{ .Language.LanguageName | default (.Lang | title) }}">
                            {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
                            {{- .Language.LanguageName | emojify -}}
                            {{- else }}
                            {{- .Lang | title -}}
                            {{- end -}}
                        </a>
                    </li>
                    {{- end -}}
                    {{- end}}
                </ul>
                {{- end }}
            </span>
        </ul>
    </nav>
</header>
