<section class="container centered">
    {{/* AK: Intro */}}
    <div class="about">
      <h1>{{ .Site.Params.author }}</h1>
      {{ if reflect.IsSlice .Site.Params.info }}
      <h2>{{ range .Site.Params.info }}{{.}}<br>{{ end}}</h2>
      {{ else }}
      <h2>{{ .Site.Params.info }}</h2>
      {{ end }}
      {{ with .Site.Params.social }}
      <ul>
        {{ range sort . "weight" }}
          {{ if .icon }}
            <li>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
                <i class="{{ .icon }}" aria-hidden="true"></i>
              </a>
            </li>
          {{ else }}
            <li>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
    </div>
</section>
    {{/* AK: First article */}}
{{ range first 1 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
<section class="container page">
    <article>
      <header>
        <h1 class="title">
          <a class="title-link" href="{{ .Permalink | safeURL }}">
            {{ .Title }}
          </a>
        </h1>
      </header>
  
      {{ .Content }}
    </article>
  </section>
  {{ end }}